h1 {color:aliceblue;}
h2 {color:aliceblue;}
p {color:aliceblue;}
body {background-image: linear-gradient(-100deg, #9ec2c7, #5193dd);}
h1 {font-family: monospace;}
h2 {font-family: monospace;}
p {font-family: sans-serif;}
h1 {font-size: 30px;}
h2 {font-size: 23px;}
h1 { text-shadow: 2px 2px 3px #000; }
h2 { text-shadow: 2px 2px 3px #000; }